body{
    position: fixed;
    background-image: url(../src/fundo.jpg);
    background-size: cover;
}

h1{
    background-color: #248eff;
    width: 1350px;
    height: 45px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.welcome{
    background-color: white;
    position: absolute;
    float: left;
    transform: translate(30px, 10px);
    width: 500px;
    height: 250px;
    font-size: 20px;
    border-radius: 10px; 
}

.box-text{
    background-color: white;
    position: absolute;
    float: right;
    transform: translate(600px, 10px);
    width: 35%;
    height: auto;
    font-size: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.btntweet{
    background-color: #248eff;
    color: white;
    width: 100px;
    height: 35px;
    font-weight: bold;
    border-radius: 10px;
}

.counter{
    color: #248eff;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;    
}

#printE{
    background-color: white;
    position: absolute;
    float: right;
    transform: translate(30px, 300px);
    font-size: 20px;
    border-radius: 10px;
    width: 1200px;
    height: auto;
    white-space: pre;
}

.line{
    width: 95%;
    border-top: 3px solid #248eff;
}

.message{
    width: 100%;
    border: none;
}

.btnkey{
    background: transparent;
    color: #1e2f4f;
    font-weight: bold;
    border: none;
}

.end{
    font-size: 15px;
    color: white;
    width: 100%;
    transform: translate(450px, 550px);
}